<div class="card mb-2">
  <div class="">
    <div class="toast-header">
      <img src="https://asociacionempresarialesports.es/wp-content/uploads/cuadro-azul-grafico-300x300.png" width="15px" height="15px" class="rounded mr-2" alt="...">
      <strong class="mr-auto">{{MessageBox.user}}</strong>
      <small>
          11 minutos ago
      </small>
    </div>
    <div class="toast-body">
        {{MessageBox.message}}
    </div>
  </div>
</div>