.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    border-radius: 50%;
  }
  .displayNone {
      display: none;
  }
  .UpperLeftCorner {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .UpperRightCorner {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .LowerLeftCorner {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .LowerRightCorner {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .ChatUpperLeftCorner {
    position: absolute;
    top: 80px;
    left: 20px;
  }
  .ChatUpperRightCorner {
    position: absolute;
    top: 80px;
    right: 20px;
  }
  .ChatLowerLeftCorner {
    position: absolute;
    bottom: 80px;
    left: 20px;
  }
  .ChatLowerRightCorner {
    position: absolute;
    bottom: 80px;
    right: 20px;
  }