<!-- <app-box-chat 
    [showBoxValue]="showBox.box1" 
    [nameBoxClass]="styleClass.ULC"
    usuario="usuario 1">
</app-box-chat>
<app-button-chat 
    (showBoxChat) ="showBox.box1 = $event" 
    [nameButtonClass]="styleClass.ULC">
</app-button-chat> -->
<!-- -------------------------------------------------------- -->

<!-- <app-box-chat 
    [showBoxValue]="showBox.box2" 
    [nameBoxClass]="styleClass.URC"
    usuario="usuario 2">
</app-box-chat>
<app-button-chat 
    (showBoxChat) ="showBox.box2 = $event" 
    [nameButtonClass]="styleClass.URC">
</app-button-chat> -->
<!-- -------------------------------------------------------- -->

<!-- <app-box-chat 
    [showBoxValue]="showBox.box3" 
    [nameBoxClass]="styleClass.LLC"
    usuario="usuario 3">
</app-box-chat>
<app-button-chat 
    (showBoxChat) ="showBox.box3 = $event" 
    [nameButtonClass]="styleClass.LLC">
</app-button-chat> -->
<!-- -------------------------------------------------------- -->

<app-box-chat 
    [showBoxValue]="showBox.box4" 
    [nameBoxClass]="styleClass.LRC"
    usuario="usuario 4">
</app-box-chat>
<app-button-chat 
    (showBoxChat) ="showBox.box4 = $event" 
    [nameButtonClass]="styleClass.LRC">
</app-button-chat>
