<div class="card-header">
  <div class="btn-toolbar justify-content-between mt-0" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text input-sm" >@</div>
      </div>
      <label class="form-control">Chat With Us</label>
    </div>  
    <div class="btn-group" role="group" aria-label="First group">
      <button type="button" class="btn btn-secondary btn-sm">1</button>
      <button type="button" class="btn btn-secondary btn-sm">2</button>
      <button type="button" class="btn btn-secondary btn-sm">3</button>
      <button type="button" class="btn btn-secondary btn-sm">4</button>
    </div>
  </div>
</div>