<div class="card-footer text-muted">
    <form ngNativeValidate #f="ngForm" (submit)="sendMessage(f)">
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary btn-sm">1</button>
            <button type="button" class="btn btn-secondary btn-sm">2</button>
            <button type="button" class="btn btn-secondary btn-sm">3</button>
            <button type="button" class="btn btn-secondary btn-sm">4</button>
            <button type="button" class="btn btn-secondary btn-sm">5</button>
            <button type="button" class="btn btn-secondary btn-sm">6</button>
            <button type="button" class="btn btn-secondary btn-sm">7</button>
            <button type="button" class="btn btn-secondary btn-sm">8</button>
          </div>
          <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary btn-sm">like</button>
          </div>
      </div>
      <div class="input-group mt-2">
        <input type="text" class="form-control input-sm" [(ngModel)]="message" name="message" placeholder="Write a message">
        <div class="input-group-prepend">
          <button class="input-group-text btn-sm" type="submit" >-></button>
        </div>
      </div>
    </form>
  </div>