
.chat-box {
    width: 20rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
    margin: auto;
    margin-top: 10px;
}
.chat-header-container, .chat-body-container {
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.chat-header {
    height: 2.2rem;
    display: flex;
    justify-content: space-between;
    
}
.chat-user {
    display: flex;
}
.chat-profile {
    position: relative;
}
.chat-photo-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.chat-state {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid green;
    background: green;
    border: 2px solid #fff;
    bottom: 0;
    right: 0;
}
.chat-data {
    margin-left: 0.3rem;
}
.chat-data p {
   font-size: .8rem;
   margin-bottom: 0;
}
.chat-data p:nth-child(2) {
   color: gray;
   font-size: .7rem;
}
.chat-options-up {
    display: flex;
}
.chat-options-up a {
    text-decoration: none;
    color: gray;
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
    cursor: pointer;
}
.chat-options-up a i {
    font-size: 0.9rem;
}




.chat-body {
    padding: 0.3rem;

}
.chat-presentation {
    display: flex;
}
/* .chat-descripcion-profile{
    border: 1px solid green;
} */
.chat-photo-sqare {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
}
.chat-description-data{
    margin-left: 0.3rem;
}
.chat-description-data p:first-child {
    color: #000;
} 
.chat-description-data p {
    color: gray;
    font-size: .7rem;
    margin-bottom: 0;
}
.chat-messages {
    border: 1px solid red;
}
.chat-message-left {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background: #e0e0e0;
    color: black;
    padding: 0.5rem;
    font-size: 0.9rem;
}
.chat-message-right {
    border: 1px solid #4285f4;
    border-radius: 10px;
    background: #4285f4;
    color: white;
    padding: 0.5rem;
    font-size: 0.9rem;
}