<!-- <div class="chat-content">  -->
  <div class="chat-box">

    <div class="chat-header-container">
      <div class="chat-header">

        <div class="chat-user">
          <div class="chat-profile">
            <span class="chat-state"></span>
            <img class="chat-photo-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="">
          </div>
          <div class="chat-data">
            <p><strong>John Smith</strong></p>
            <p>Active now</p> 
          </div>
        </div>

        <div class="chat-options-up">
          <a> <i class="fas fa-video"></i></a>
          <a> <i class="fas fa-phone"></i></a>
          <a> <i class="fas fa-cog"></i></a>
          <a> <i class="fas fa-times"></i></a>
        </div>
        
      </div>
    </div>

    <div class="chat-body-container">
      <div class="chat-body">
        <div class="chat-presentation">
          <div class="chat-descripcion-profile">
            <img class="chat-photo-sqare" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="">
          </div>
          <div class="chat-description-data">
            <p>You're friends on Facebook</p>
            <p>Web Designer at MDBootstrap</p>
            <p>Lives in Paris</p>
          </div>
        </div>
        <div class="chat-messages">
          <p class="chat-message-left">
            Nostrum minima cupiditate assumenda, atque cumque hic voluptatibus at corporis maxime quam harum.
          </p>
          <p class="chat-message-left">
            Qui animi molestiae autem nihil optio recusandae nisi sit ab quo est.
          </p>
          <p class="chat-message-right">
            Lorem ipsum dolor sit amet consectetur adipisicing elit voluptatem cum eum tempore.
          </p>
          <p class="chat-message-right">
            Rem suscipit lorum repellendus ditiis?
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="chat-footer">
      <div class="chat-form">
        <input type="text" placeholder="Type a message...">
      </div>
      <div class="chat-options-down">
        <div class="chat-options-left">
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-up"></i>

        </div>
        <div class="chat-options-right">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div> -->
  </div>
<!-- </div>  -->
