<div class="col-8" id="chat" class="{{nameBoxClass}}" [ngClass]="{'displayNone': boxValue}">
  <div class="card">

    <app-header-chat></app-header-chat>
    <div class="card-body">
      <app-message-chat *ngFor="let message of chatServive.messageTray" [showMessageBox] = "message"></app-message-chat>
    </div>
   
    <app-footer-chat [usuario]="usuario"></app-footer-chat>
  </div>
</div>